<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HizliSatis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <HizliSatis.Properties.Settings>
            <setting name="sirketAdi" serializeAs="String">
                <value>Şirket İsmi</value>
            </setting>
            <setting name="adres1" serializeAs="String">
                <value>Adres Satırı 1</value>
            </setting>
            <setting name="adres2" serializeAs="String">
                <value>Adres Satırı 2 </value>
            </setting>
            <setting name="adres3" serializeAs="String">
                <value>Adres Satırı 3 </value>
            </setting>
            <setting name="telefon" serializeAs="String">
                <value>0354 354 54 54</value>
            </setting>
            <setting name="vergiDairesi" serializeAs="String">
                <value />
            </setting>
            <setting name="vergiNo" serializeAs="String">
                <value />
            </setting>
            <setting name="kritikMesajUyari" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stokYetersizUyari" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kritikRenkUyari" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="urunBulunamadiUyari" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="grup1Text" serializeAs="String">
                <value>Grup 1</value>
            </setting>
            <setting name="grup2Text" serializeAs="String">
                <value>Grup 2</value>
            </setting>
            <setting name="grup3Text" serializeAs="String">
                <value>Grup 3</value>
            </setting>
            <setting name="grup4Text" serializeAs="String">
                <value>Grup 4</value>
            </setting>
            <setting name="grup5Text" serializeAs="String">
                <value>Grup 5</value>
            </setting>
            <setting name="grup6Text" serializeAs="String">
                <value>Grup 6</value>
            </setting>
            <setting name="kilitStok" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kilitMusteriler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kilitCari" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kilitKasa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kilitRapor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kilitAyarlar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="urunKisayolManuel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yonetimSifresi" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="guvenlikSorusu" serializeAs="String">
                <value>En sevdiğin yemek?</value>
            </setting>
            <setting name="guvenlikCevabi" serializeAs="String">
                <value>iskender</value>
            </setting>
            <setting name="hddSerial" serializeAs="String">
                <value>J20637J005977</value>
            </setting>
            <setting name="teraziCOM" serializeAs="String">
                <value />
            </setting>
            <setting name="teraziAktarimMod" serializeAs="String">
                <value />
            </setting>
            <setting name="teraziStokKodu" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="teraziMinDeger" serializeAs="String">
                <value />
            </setting>
            <setting name="ekranCOM" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ekranBaud" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="yaziciBoyut" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="yaziciAdi" serializeAs="String">
                <value>POS58-1</value>
            </setting>
        </HizliSatis.Properties.Settings>
    </userSettings>
</configuration>
